body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* HomePage */

.homepage{
  margin-left: 2rem;
  margin-top: 1.5rem;
  color: #152a45;
  font-size: 14px;
}

.homepagina{
  text-decoration: none;
}

a:hover{
  color: #72afa6;
}


/* Navbar */

header {
  background-color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  /* opacity: 0.5; */
  position: sticky;
  top: 0;
  }
    
  header ul {
  display: flex;
  margin-left: 150px;
  }

  header ul li {
  margin-left: 50px;
  font-size: 15px;
  }

  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.Mini{
  color: #72afa6;
}

/* grid */

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "box1 box2 box3"
  "box1 box5 box4"
  ". . .";
}

.box1{
  margin-left: 10em;
  margin-right: 5px;
  border-radius: 7px;
  padding: 10px;
  align-items: center;
  align-content: center;
  grid-area: box1;
}
.box2{ 
  border-radius: 7px;
  padding: 10px;
  align-items: center;
  align-content: center;
  grid-area: box2;
}
.box3{
 margin-right: 10em;
 grid-area: box3;
 overflow-y: auto;
}

.box5{
  grid-area: box5;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #72afa6;
  margin-bottom: 15px;
  width: 70%;
  margin-left: 15%;
  display: grid;
}

.box5 h1{
  font-size: 20px;
}

.box5 p{
  margin-left: 10px;
}

.reminder h1 {
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.reminder ul {
  list-style-type: none;
  font-size: 14px;
  background-color: white;
  padding: 15px 20px 20px;
  margin-bottom: 15px;
  display: block;
  }

.reminder li{
  border-left: 5px solid #72afa6;
  padding-left: 10px;
  padding-bottom: 2px;
  margin-bottom: 14px;
}

.reminder p {
  margin-top: 0;
  margin-bottom: 0;
  color: #666;
  font-size: 13px;
}

.box4 h1{
  margin: 0;
  font-size: 20px;
  color: black;
  padding: 15px;
  background-color: white;
}

.box4 {
  display: flex;
  margin-right: 10em;
  margin-left: 1.3em;
  margin-bottom: 1rem;
  flex-direction: column;
  box-shadow: 2px 2px 20px #72afa6;
  background-color: white;
}

.box4 .body{
  flex: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0,0,7);
  padding: 15px;
}

.box4 .message {
  background-color: beige;
  padding: 10px;
  color: black;
  width: fit-content;
  margin-bottom: 15px;
}

.box4 .user_message {
  margin-left: auto;
  background-color: #72afa6;
}

.box4 .footer form{
  display: flex;
}

form input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
  background-color: beige;
}

form button{
  width: 20%;
  border: none;
  outline: none;
  background-color: #72afa6;
  color: black;
  cursor: pointer;
} 
form button:hover {
  color: white;
  transition: 0.2s ease;
}


/* FlexBox style */

h1{
    text-align: center;
    color: #72afa6;
}

h2{
  text-align: center;
}

.middle{
    position: absolute;
    margin-top: 1rem;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    background: none;
    border: 6px rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear; 
    position: relative; 
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    
}

.btn:hover{
    color:  #fff;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: #72afa6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    z-index: -1;
}

/* Kalender */
/* declare a 7 column grid on the table */

#calendar {
  margin-left: 10%;  
  margin-bottom: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 30px;
}

#calendar a {
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 4px;
	box-sizing:border-box;
	border: 4px solid #ccc;
}

#calendar .weekdays {
	background: #72afa6;  
}

#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #72afa6;
	color: #fff;
	width: 20px;
	border-radius: 50%;
    flex: 0 0 auto;
    align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

/* ============================
				Mobile Responsiveness
   ============================*/

@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
}

/* p Color */
.color {
  color: #72afa6;
}

/* Footer */

.social h4{
  color: #72afa6;
}

.social{
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
}

.column, .menu-footer, .info-footer{
  padding: 0 3vw;

}
